.App {
  text-align: center;
  width: 85%;
  margin: 0px auto;
  border: 1px solid salmon;
}

.all_post {
  margin: 20px 0px;
  background-color: lightgray;
  padding: 20px;
  height: 200px;
  overflow-y: auto;
}

.create_post {
  margin: 20px 0px;
  background-color: blueviolet;
  padding: 20px;
  overflow-y: auto;
}

.create_post > button {
  padding: 10px 20px;
}

.create_post > button:hover {
  cursor: pointer;
}

.update_post {
  margin: 20px 0px;
  background-color: yellowgreen;
  padding: 20px;
  overflow-y: auto;
}

.update_post > button {
  padding: 10px 20px;
}

.update_post > button:hover {
  cursor: pointer;
}

.delete_post {
  margin: 20px 0px;
  background-color: salmon;
  padding: 20px;
  overflow-y: auto;
}

.delete_post > button {
  padding: 10px 20px;
}

.delete_post > button:hover {
  cursor: pointer;
}
